    <!--about-us start -->
    <section id="home" class="about-us">
      <div class="container">
        <div class="about-us-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="single-about-us">
                <div class="about-us-txt">
                  <h4 id="title-home">
                    <%= t('.background_title') %> 
                  </h4>
                  <div class="form-search">
                    <%= search_form_for @q, url: "/search/tours", class: "form-inline" do |f| %>
                      <div class="form-group">
                        <%= f.text_field :name_cont, class: "form-control", id: "inputSearch", placeholder: t('.enter_search_home') %>
                      </div> <!-- Tìm kiếm theo name có chứa ... -->
                      <div class="form-group">
                        <%= f.label :price_in, "#{t('.price')}:" %>
                          <%= f.select :price_gteq, options_for_select([["$0", 0], ["$300", 300], ["$500", 500]]), {prompt: t('.from')}, {class: "custom-select"} %>
                          <%= f.select :price_lteq, options_for_select([["$0", 0], ["$300", 300], ["$500", 500]]), {prompt: t('.to')}, {class: "custom-select"} %>
                      </div> <!-- Tìm kiếm theo age lớn hơn bằng ...  -->
                      <div class="form-group">
                          <%= f.label :tour_details_gteq, t('.from_or_after') %>
                          <%= f.date_field :tour_details_gteq, class: "form-control", id: "date" %>
                      </div>
                      <%= button_tag(type: "submit", class: "btn btn-light", id: "search") do %>
                        <i class="fa fa-search"> <%= t('.search') %> </i>
                      <% end %>
                    <% end %>
                  </div>
                </div><!--/.about-us-txt-->
              </div><!--/.single-about-us-->
            </div><!--/.col-->
            <div class="col-sm-0">
              <div class="single-about-us">
                
              </div><!--/.single-about-us-->
            </div><!--/.col-->
          </div><!--/.row-->
        </div><!--/.about-us-content-->
      </div><!--/.container-->

    </section><!--/.about-us-->
    <!--about-us end -->

    <section class="ftco-section services-section " style="height: 450px; margin-top: -50px; background-color: #f1f1f1">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services d-block text-center" id="bl1">
              <div class="d-flex justify-content-center">
                <div class="icon" style="margin-top: 25px">
                  <%= image_tag("flaticon-guarantee.png", alt: "Rails logo", id: "guarantee-logo") %>
                </div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3"><%= t('.guarantee') %></h3>
                <p><%= t('.guarantee_content') %></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services d-block text-center" id="bl2">
              <div class="d-flex justify-content-center">
                <div class="icon">
                  <%= image_tag("heart.png", alt: "Rails logo", id: "heart-logo") %>
                </div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3"><%= t('.love') %></h3>
                <p><%= t('.love_content') %></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services d-block text-center" id="bl3">
              <div class="d-flex justify-content-center">
                <div class="icon">
                  <%= image_tag("spy-1.png", alt: "Rails logo", id: "spy-logo") %>
                </div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3"><%= t('.agent') %></h3>
                <p><%= t('.agent_content') %></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services d-block text-center" id="bl4">
              <div class="d-flex justify-content-center">
                <div class="icon">
                  <%= image_tag("support.png", alt: "Rails logo", id: "support-logo") %>
                </div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3"><%= t('.support') %></h3>
                <p><%= t('.support_content') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    

        <!--service start-->
    <section id="service" class="service">
      <div class="container">

        <div class="service-counter text-center">
          <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="single-service-box">
              <div class="service-img">
                <img src="assets/images/service/s1.png" alt="service-icon" />
              </div><!--/.service-img-->
              <div class="service-content">
                <h2>
                  <a href="#">
                  amazing tour packages
                  </a>
                </h2>
                <p>Duis aute irure dolor in  velit esse cillum dolore eu fugiat nulla.</p>
              </div><!--/.service-content-->
            </div><!--/.single-service-box-->
          </div><!--/.col-->

          <div class="col-md-4 col-sm-4">
            <div class="single-service-box">
              <div class="service-img">
                <img src="assets/images/service/s2.png" alt="service-icon" />
              </div><!--/.service-img-->
              <div class="service-content">
                <h2>
                  <a href="#">
                    book top class hotel
                  </a>
                </h2>
                <p>Duis aute irure dolor in  velit esse cillum dolore eu fugiat nulla.</p>
              </div><!--/.service-content-->
            </div><!--/.single-service-box-->
          </div><!--/.col-->

          <div class="col-md-4 col-sm-4">
            <div class="single-service-box">
              <div class="statistics-img">
                <img src="assets/images/service/s3.png" alt="service-icon" />
              </div><!--/.service-img-->
              <div class="service-content">

                <h2>
                  <a href="#">
                    online flight booking
                  </a>
                </h2>
                <p>Duis aute irure dolor in  velit esse cillum dolore eu fugiat nulla.</p>
              </div><!--/.service-content-->
            </div><!--/.single-service-box-->
          </div>
          </div><!--/.col-->

        </div><!--/.statistics-counter--> 
      </div><!--/.container-->

    </section><!--/.service-->
    <!--service end-->

    <!--galley start-->
    <section id="gallery" class="gallery">
      <div class="container" style="padding-top: 30px; padding-bottom: 30px">
        <div class="gallery-details">
          <div class="gallary-header text-center">
            <h2>
              <%= t('.top_destination') %>
            </h2>
            <p>
              <%= t('.top_destination_info') %>
            </p>
          </div><!--/.gallery-header-->
          <div class="gallery-box">
            <div class="gallery-content">
                <div class="filtr-container">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="filtr-item">
                        <%= link_to image_tag(Category.first.images.sample.link_url.to_s, alt: 'f-ca', height: '300px', width: '540px'), category_tours_path(Category.first) %>
                        <div class="item-title">
                          <p class="name-category"><%= Category.first.name %></p>
                          <p><span><%= pluralize(Category.first.tours.count, "tour") %></span></p>
                        </div><!-- /.item-title -->
                      </div><!-- /.filtr-item -->
                    </div><!-- /.col -->

                    <div class="col-md-6">
                      <div class="filtr-item">
                        <%= link_to image_tag(Category.second.images.sample.link_url.to_s, alt: 'f-ca', height: '300px', width:'540px'), category_tours_path(Category.second) %>
                        <div class="item-title">
                          <p class="name-category"><%= Category.second.name %></p>
                          <p><span><%= pluralize(Category.second.tours.count, "tour") %></span></p>
                        </div> <!-- /.item-title-->
                      </div><!-- /.filtr-item -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="filtr-item" style="height: 630px">
                        <%= link_to image_tag(Category.third.images.sample&.link_url.to_s, alt: 'f-ca', id: 'size630'), category_tours_path(Category.third) %>
                        <div class="item-title">
                          <p class="name-category"><%= Category.third.name %></p>
                          <p><span><%= pluralize(Category.third.tours.count, "tour") %></span></p>
                        </div> <!-- /.item-title-->
                      </div>
                    </div><!-- /.col -->

                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="filtr-item" style="height: 300px;">
                            <%= link_to image_tag(Category.find(4).images.sample&.link_url.to_s, alt: 'f-ca', height: '300px'), category_path(Category.find(4)) %>
                        <div class="item-title">
                          <p class="name-category"><%= Category.find(4).name %></p>
                          <p><span><%= pluralize(Category.find(4).tours.count, "tour") %></span></p>
                            </div> <!-- /.item-title-->
                          </div>
                        </div><!-- /.col -->

                        <div class="col-md-6">
                          <div class="filtr-item" style="height: 300px">
                            <%= link_to image_tag(Category.find(5).images.sample&.link_url.to_s, alt: 'f-ca', height: '300px'),  category_path(Category.find(5)) %>
                        <div class="item-title">
                          <p class="name-category"><%= Category.find(5).name %></p>
                          <p><span><%= pluralize(Category.find(5).tours.count, "tour") %></span></p>
                            </div> <!-- /.item-title-->
                          </div>
                        </div><!-- /.col -->
                      </div>
                      <div class="filtr-item" style="height: 300px">
                        <%= link_to image_tag(Category.find(6).images.sample&.link_url.to_s, alt: 'f-ca', height: '300px', width: '730px'), category_path(Category.find(6)) %>
                        <div class="item-title">
                          <p class="name-category"><%= Category.find(6).name %></p>
                          <p><span><%= pluralize(Category.find(6).tours.count, "tour") %></span></p>
                        </div> <!-- /.item-title-->
                      </div>
                    </div>

 
                    </div>
                  
                 

                </div><!-- /.filtr-container-->
            </div><!-- /.gallery-content -->
          </div><!--/.galley-box-->
          <div>
            <%= link_to categories_path, class: "btn btn-outline-primary", id: "all-categories" do %>
              <i class='fas fa-map-marker-alt'> <%= t('.see_all_places') %></i>
            <% end %>
          </div>
        </div><!--/.gallery-details-->
      </div><!--/.container-->

    </section><!--/.gallery-->
    <!--gallery end-->


    

    <!--packages start-->
    <section id="pack" class="packages">
      <div class="container">
        <div class="gallary-header text-center">
          <h2>
            <%= t('.all_packages') %>
          </h2>
          <p>
            <%= t('.all_packages_info') %>
          </p>
        </div><!--/.gallery-header-->
        <div class="packages-content">
          <div class="row">
            <%= render @tours %>
          </div><!--/.row-->
        </div><!--/.packages-content-->
      </div><!--/.container-->
    </section><!--/.packages-->
    <!--packages end-->

    <!--blog start-->
    <section id="blog" class="blog">
      <div class="container">
        <div class="blog-details">
            <div class="gallary-header text-center">
              <h2>
                <%= t('.travel_inspiration') %>
              </h2>
              <p>
                <%= t('.travel_inspiration_info') %>
              </p>
            </div><!--/.gallery-header-->
            <div class="blog-content">
              <div class="row">

                <div class="col-sm-4 col-md-4">
                  <div class="thumbnail">
                    <h2>trending news <span>15 november 2017</span></h2>
                    <div class="thumbnail-img">
                      <img src="assets/images/blog/b1.jpg" alt="blog-img">
                      <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->
                    
                    </div><!--/.thumbnail-img-->
                    
                    <div class="caption">
                      <div class="blog-txt">
                        <h3>
                          <a href="#">
                            Discover on beautiful weather, Fantastic foods and historical place in Prag
                          </a>
                        </h3>
                        <p>
                          Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam 
                        </p>
                        <a href="#">Read More</a>
                      </div><!--/.blog-txt-->
                    </div><!--/.caption-->
                  </div><!--/.thumbnail-->

                </div><!--/.col-->

                <div class="col-sm-4 col-md-4">
                  <div class="thumbnail">
                    <h2>trending news <span>15 november 2017</span></h2>
                    <div class="thumbnail-img">
                      <img src="assets/images/blog/b2.jpg" alt="blog-img">
                      <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->
                    
                    </div><!--/.thumbnail-img-->
                    <div class="caption">
                      <div class="blog-txt">
                        <h3>
                          <a href="#">
                            Discover on beautiful weather, Fantastic foods and historical place in india
                          </a>
                        </h3>
                        <p>
                          Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam 
                        </p>
                        <a href="#">Read More</a>
                      </div><!--/.blog-txt-->
                    </div><!--/.caption-->
                  </div><!--/.thumbnail-->

                </div><!--/.col-->

                <div class="col-sm-4 col-md-4">
                  <div class="thumbnail">
                    <h2>trending news <span>15 november 2017</span></h2>
                    <div class="thumbnail-img">
                      <img src="assets/images/blog/b3.jpg" alt="blog-img">
                      <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->
                    
                    </div><!--/.thumbnail-img-->
                    <div class="caption">
                      <div class="blog-txt">
                        <h3><a href="#">10 Most Natural place to Discover</a></h3>
                        <p>
                          Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam 
                        </p>
                        <a href="#">Read More</a>
                      </div><!--/.blog-txt-->
                    </div><!--/.caption-->
                  </div><!--/.thumbnail-->

                </div><!--/.col-->

              </div><!--/.row-->
            </div><!--/.blog-content-->
          </div><!--/.blog-details-->
        </div><!--/.container-->

    </section><!--/.blog-->
    <!--blog end-->
    
<script type="text/javascript">
  $("#bl1").mouseenter(function(){
    changeColorbl1()
  })
  function changeColorbl1(){
    document.getElementById('guarantee-logo').src="<%= asset_path('guarantee-3.png') %>"
  }
  $("#bl1").mouseleave(function(){
    returnColorbl1()
  })
  function returnColorbl1(){
    document.getElementById('guarantee-logo').src="<%= asset_path('flaticon-guarantee.png') %>"
  }

  $("#bl2").mouseenter(function(){
    changeColorbl2()
  })
  function changeColorbl2(){
    document.getElementById('heart-logo').src="<%= asset_path('heart-1.png') %>"
  }
  $("#bl2").mouseleave(function(){
    returnColorbl2()
  })
  function returnColorbl2(){
    document.getElementById('heart-logo').src="<%= asset_path('heart.png') %>"
  }

  $("#bl3").mouseenter(function(){
    changeColorbl3()
  })
  function changeColorbl3(){
    document.getElementById('spy-logo').src="<%= asset_path('spy.png') %>"
  }
  $("#bl3").mouseleave(function(){
    returnColorbl3()
  })
  function returnColorbl3(){
    document.getElementById('spy-logo').src="<%= asset_path('spy-1.png') %>"
  }

  $("#bl4").mouseenter(function(){
    changeColorbl4()
  })
  function changeColorbl4(){
    document.getElementById('support-logo').src="<%= asset_path('support-1.png') %>"
  }
  $("#bl4").mouseleave(function(){
    returnColorbl4()
  })
  function returnColorbl4(){
    document.getElementById('support-logo').src="<%= asset_path('support.png') %>"
  }
</script>
