  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    

    <!-- Main content -->
    <section class="content" style="padding-top: 30px">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h4>150</h4>

                <p>Tổng doanh thu</p>
              </div>
              <div class="icon">
                <i class='fas fa-dollar-sign'></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h4>53</h4>

                <p>Tổng đơn</p>
              </div>
              <div class="icon">
                <i class='fas fa-shopping-bag'></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h4><%= User.all.count %></h4>

                <p>Số thành viên</p>
              </div>
              <div class="icon">
                <i class='fas fa-users'></i>
              </div>
              <%= link_to admin_users_path, class: "small-box-footer" do %>
                More info <i class="fas fa-arrow-circle-right"></i>
              <% end %>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h4><%= Category.all.count %></h4>

                <p>Places</p>
              </div>
              <div class="icon">
                <i class='fas fa-map-marked-alt'></i>
              </div>
              <%= link_to admin_categories_path, class: "small-box-footer" do %>
                More info <i class="fas fa-arrow-circle-right"></i>
              <% end %>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
      </div>
    </section>
    <div class="row" style="margin-top: 20px">
      <div class="col-sm-8">
        <div class="diagram-tours">
          <div class="btn-group" style="float: right;">
            <button type="button" class="btn btn-outline-success" id="btn-day">By day</button>
            <button type="button" class="btn btn-outline-warning" id="btn-month">By month</button>
          </div>
          <div id="group-by-day"><%= line_chart Tour.group_by_day(:created_at).count %></div>
          <div id="group-by-month" style="display: none;"><%= line_chart Tour.group_by_month(:created_at).count %></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="diagram-circle">
          <%= pie_chart Category.joins(:tours).group(:area).count %>
        </div>
      </div>
  </div>

  <script type="text/javascript">
  $("#btn-month").click(function(){
    $("#group-by-day").hide()
    $("#group-by-month").show()
  });
  $("#btn-day").click(function(){
    $("#group-by-month").hide()
    $("#group-by-day").show()
  })
</script>
