<div class="container">
  <h2>Sign up</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-3" style="margin: auto;">
      <div class="registrations_form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <%= f.text_field :name, class: 'form-control',placeholder: "Username" %>

          <%= f.email_field :email, class: 'form-control', placeholder: "Email address" %>

          <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>

          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm password" %>

          <%= f.submit "Create my account", class: "btn btn-primary btn-block" %>
        <% end %>

          <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
