<div class="content-wrapper">
  <div class="show_tour_admin">
    <div class="container">
      <h4><%= @tour.name %></h4>
      <div class="body">
        <div class="btn-group">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#overview"><i class='far fa-file-alt'></i> Giới thiệu chung
          </button>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#sightseeings"><i class='fas fa-map-marked-alt'></i> Lịch trình
          </button>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#hotels"><i class='fas fa-hotel'></i> Thông tin khách sạn
          </button>
        </div>
          <!-- The Modal 1-->
          <div class="modal fade" id="overview">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Giới thiệu chung</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>            
                <!-- Modal body -->
                <div class="modal-body">
                  <%= @tour.category.overview %>
                </div>            
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>            
              </div>
            </div>
          </div>
          <!-- The Modal 2-->
          <div class="modal fade" id="sightseeings">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Lịch trình</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>            
                <!-- Modal body -->
                <div class="modal-body">
                  <%= @tour.itinerary %>
                </div>            
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>            
              </div>
            </div>
          </div>
          <!-- The Modal 3-->
          <div class="modal fade" id="hotels">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Thông tin khách sạn</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>            
                <!-- Modal body -->
                <div class="modal-body">
                  <%= @tour.category.overview %>
                </div>            
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>            
              </div>
            </div>
          </div>
          
        <div class="row">
          <div class="col">
            <h5 id="form-time">Tạo và chỉnh sửa thời gian</h5>
            <%= render "admin/tour_details/tour_detail_form", tour: @tour, tour_detail: @tour_detail %>  
          </div>
          <div class="col">
            <h5 id="time_title"><i class='far fa-calendar-alt'></i> Bảng thời gian đi và về</h5>
            <table class="table table-hover" id="tour_details">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Departure Time</th>
                  <th>Return Time</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <%= render @tour_details, tour: @tour %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
