<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name), class: "d-block text-center mt-2 small" %>
  <hr class="my-2">
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name), class: "d-block mt-2 small" %>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "d-block mt-2 small" %>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "d-block mt-2 small" %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "d-block mt-2 small" %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div id="<%= provider == :facebook ? 'facebook' : 'google' %>">
      <%= link_to "/auth/#{provider}" do %>
        <i class="fab <%= provider == :facebook ? 'fa-facebook-f' : 'fa-google' %> mr-2"></i><strong>Sign up with <%= OmniAuth::Utils.camelize(provider) %></strong>
      <% end %>
    </div>
  <% end %>
<% end %>
