<%= form_for [:admin, @tour] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name, class: "font-weight-bolder" %>
  <%= f.text_field :name, class: 'form-control' %></br>

  <%= f.select :category_id, Category.all.map{|category| ["#{category.name}","#{category.id}"]}, {prompt: 'Choose a category'}, {class: "custom-select"} %></br></br>
  <div class="row">
    <div class="col-md-5">
      
        <%= f.label :default_hotel, class: "font-weight-bolder" %><br>
        <%= f.select :hotel_ids, Hotel.all.order(:name).map{|hotel| ["#{hotel.name}","#{hotel.id}"]}, {}, {class: "custom-select", name: 'tour[hotel][][id]'} %>
        <%= hidden_field_tag :extra_fee, 0, {name: "tour[hotel][][extra_fee]"} %>
    </div>
    <div class="col-md-7">
      <h6><strong>Options</strong></h6>
      <div class="form-inline">
        <%= f.select :hotel_ids, Hotel.all.order(:name).map{|hotel| ["#{hotel.name}","#{hotel.id}"]}, {prompt: "Option 1"}, {class: "custom-select", name: 'tour[hotel][][id]'} %>
        <%= number_field_tag :extra_fee, nil, {name: "tour[hotel][][extra_fee]"} %>
      </div>
      <div class="form-inline">
        <%= f.select :hotel_ids, Hotel.all.order(:name).map{|hotel| ["#{hotel.name}","#{hotel.id}"]}, {prompt: "Option 2"}, {class: "custom-select", name: 'tour[hotel][][id]'} %>
        <%= number_field_tag :extra_fee, nil, {name: "tour[hotel][][extra_fee]"} %>
      </div>
    </div>
  </div>

  <%= f.label :itinerary, class: "font-weight-bolder" %>
  <%= f.rich_text_area :itinerary %></br>

  <%= f.label :price_info, class: "font-weight-bolder" %>
  <%= f.rich_text_area :price_info %></br>

  <div class="row">
    <div class="col">
      <%= f.label :transport, class: "font-weight-bolder" %>
      <%= f.text_field :transport, class: 'form-control' %></br>
   
      <%= f.label :price, class: "font-weight-bolder" %>
      <%= f.number_field :price, class: 'form-control' %></br>
    </div>
    <div class="col">
      <%= f.label :coupon, class: "font-weight-bolder" %>
      <%= f.number_field :coupon, class: 'form-control' %></br>
   
      <%= f.label :seats, class: "font-weight-bolder" %>
      <%= f.number_field :seats, class: 'form-control' %></br>
    </div>
  </div>
  <div class="btn-submit">
    <%= f.submit "Confirm", class: "btn btn-success btn-block" %>
  </div>
<% end %>

<script type="text/javascript">
  $("#tour_hotel_ids_1").change(function(){
    if $("#tour_hotel_ids_0") == $("#tour_hotel_ids_1")
      alert("Trung lap")
    end 
  })
</script>
