<div class="container">
  <div class="col-md-4 col-lg-6" style="margin: auto;">
    <h5><strong>Thông tin chi tiết</strong></h5>
    <table class="table table-striped">
      <tr>
        <th>Tên khách hàng:</th>
        <td><%= current_user.name %></td>  
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= current_user.email %></td> 
      </tr>
      <tr>
        <th>Tour:</th>
        <td><%= @tour.name %></td>  
      </tr>
      <tr>
        <th>Ngày khởi hành:</th>
        <td><%= @tour_detail.departure_time %></td> 
      </tr>
      <tr>
        <th>Ngày kết thúc:</th>
        <td><%= @tour_detail.return_time %></td> 
      </tr>
      <tr>
        <th>Giá đơn:</th>
        <td><%= number_to_currency(@tour.price * (100 - @tour.coupon)/100, unit: "vnđ", precision: 0, format: "%n %u") %></td> 
      </tr>
      <tr>
        <th>Số người đi:</th>
        <td><%= @booking_tour.quantity %></td>  
      </tr>
      <tr style=" background-color: green; color: white;">
        <th>Tổng tiền:</th>
        <td><%= number_to_currency(@booking_tour.price_total, unit: "vnđ", precision: 0, format: "%n %u") %></td> 
      </tr>
    </table>
  </div>
</div>
