<div class="content-wrapper">
  <div class="container">
    <div class="row" style="padding-top: 15px">
      <div class="col">
        <div class="btn-group">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#overview" id="btn_read_info"><i class='far fa-file-alt'></i> Giới thiệu chung
          </button>
          <%= link_to "Edit", edit_admin_category_path(@category), class: "btn btn-info" %>
        </div>
      </div>
      <div class="col">
        <input class="form-control" id="showInput" type="text" placeholder="Tìm kiếm trong bảng.." style="margin-left: 120px">
      </div>
    </div>
    <h4><strong>All Tours Of <%= @category.name %>(<%= @category.tours.count %>)</strong></h4>
    <div class="body">
      
      <!-- The Modal 1-->
        <div class="modal fade" id="overview">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">          
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Giới thiệu chung</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>            
              <!-- Modal body -->
              <div class="modal-body" style="text-align: justify;">
                <%= @category.overview %>
              </div>            
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>            
            </div>
          </div>
        </div>

      <div class="about-tours">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Counpon</th>
              <th>Seats</th>
              <th>Created at</th>
              <th>Last Update</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="showTable">
            <%= render @tours %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="about-images">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <% @images.each do |image| %>
              <%= render "admin/categories/images/image", image: image, category: @category %>
            <% end %>    
          </div>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-secondary" id="add_image"><i class='fas fa-plus-circle'></i> Add Images</button>
          <%= form_for [:admin, @category, @image] do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="field_form">
              <div>
                <%= f.file_field :link, class: "count_link", id: "images_0_link" , name: "images[link][]" %><i class='fas fa-minus-circle' id="minus_0_circle"></i>
              </div>
            </div>
            <%= f.submit "Upload", class: "btn btn-warning" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>      
</div>

<script type="text/javascript">
  $("#add_image").click(function(){
    addImagefield();
  })
  function addImagefield(){
    var div = document.createElement("div")
    var input = document.createElement("input");
    var i_tag = document.createElement("i")
    var i = $(".count_link").length;
    input.type = "file";
    input.id = "images_[" + i + "]_link" ;
    input.name = "images[link][]";
    input.className = "count_link";
    div.append(input);
    $(".field_form").append(div);
    i_tag.className = "fas fa-minus-circle";
    i_tag.id = "minus_" + i + "_circle"
    div.append(i_tag);
    $("input~i").click(function(){
      $(this).parent().remove();
    })
  }
  $("input~i").click(function(){
    $(this).parent().remove();
  })
</script>


<script>
$(document).ready(function(){
  $("#showInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#showTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

