<div id="tour_detail_form">
  <%= form_for [:admin, tour, tour_detail] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :departure_time %>
    <%= f.date_field :departure_time, class: 'form-control' %>

    <%= f.label :return_time %>
    <%= f.date_field :return_time, class: 'form-control' %>

    <%= f.submit "Confirm", class: "btn btn-success" %>
  <% end %>
</div>