<div class="content-wrapper" style="min-height: 208px;">
  <div class="container">   
    <div id="tour_messages">
      <input class="form-control" id="userInput" type="text" placeholder="Tìm kiếm trong bảng.." style="margin-left: 550px">
      <h4><strong>All Tours</strong></h4>
      <div class="body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody id="usersTable">
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.created_at.strftime("%H:%M %Y/%m/%d")%></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @users %>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $("#userInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#usersTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
