<!-- footer-copyright start -->
<footer  class="footer-copyright">
  <div class="container">
    <div class="footer-content" style="padding-bottom: 0">
      <div class="row">

        <div class="col-sm-3" style="margin: auto;">
          <div class="single-footer-item">
            <div class="footer-logo">
              <%= link_to image_tag("logo.png", alt: "Rails logo", class: "navbar-brand"), root_path %>
            </div>
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3" style="padding-left: 80px">
          <div class="single-footer-item">
            <p class="title-footer">link</p>
            <div class="single-footer-txt">
              <p><a href="#"><%= t('.home') %></a></p>
              <p><a href="#"><%= t('.destination') %></a></p>
              <p><a href="#"><%= t('.about_us') %></a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->

        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item">
            <p class="title-footer"><%= t('.popular_destination') %></p>
            <div class="single-footer-txt">
              <p><a href="#">china</a></p>
              <p><a href="#">venezuela</a></p>
              <p><a href="#">brazil</a></p>
              <p><a href="#">australia</a></p>
              <p><a href="#">london</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item text-center">
            <p class="title-footer"><%= t('.contacts') %></p>
            <div class="single-footer-txt text-left">
              <p>19001009</p>
              <p class="foot-email">pikachu@pr2001.com</p>
              <p><%= t('.address') %></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

      </div><!--/.row-->

    </div><!--/.footer-content-->
    <hr>
    <div class="foot-icons ">
      <ul class="footer-social-links list-inline list-unstyled">
                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fab fa-instagram"></i></a></li>
          </ul>
          <p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

        </div><!--/.foot-icons-->
    <div id="scroll-Top">
      <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
    </div><!--/.scroll-Top-->
  </div><!-- /.container-->

</footer><!-- /.footer-copyright-->
    <!-- footer-copyright end -->
